<!doctype html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
  </head>

<title>ZeroFeesPool (XMR Edition)</title>
<h1>ZeroFeesPool (XMR Edition)</h1>
<p>Pool Total Hash: {{total_hash}}KH/s, Amount Due: {{amtDue}} (Payout occurs at 0.02XMR), Current Effort: {{percentage_amount}}%</p>
<p>Pool Status: <code>{{pool_status}}</code></p>
<p>XMRig (linux): <code>./xmrig -o sandcanyon.city:3333 --rig-id 'your_nano_address'</code> (windows): <code>./xmrig -o sandcanyon.city:3333 --rig-id your_nano_address</code>
<p><form action="/xmrmining/verify" method = "POST">
  <label for="fname">Nano Address</label><input type="text" id="nano_address" name="nano_address" size="65">
</form></p>
<table style="width:95%", border="1", id="workers">
	<tr>
		<th>Mining Address</th>
		<th>Workers</th>
		<th>Total Accepted Shares</th>
		<th>Last Share</th>
		<th>Time Since</th>
		<th>Hash Rate (KH/s Last Hour)</th>
		<th>Shares this round</th>
	</tr>
        {% for item in name %}    
        <tr>               
            <td><a href="xmrmining/stats/{{item[0]}}">{{item[0]}}</a></td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[6]}}</td>
        </tr>
        {% endfor %}    
</table>
<p>Table filtered  to only show workers who have submitted shares in the last 48hrs, to view old workers please search for the worker id (Nano Address)</p>
<br>
<p>For more info checkout the <a href="https://github.com/jamescoxon/xmrnanopool">codebase on github</a> and join our <a href="https://discord.gg/GHXVWeEjnb">discord</a></p>
